.DS_Store
.env*
*.pem
*.tsbuildinfo
*storybook.log
/.next/
/build
/coverage
/node_modules
/out/
e2e/.auth/
next-env.d.ts
npm-debug.log*
scripts/*
!scripts/git/
!scripts/sentry/
storybook-static
supabase/.temp/
test-results/
yarn-debug.log*
yarn-error.log*
